html{
    overflow-x: hidden;
}

.jeg_main{
    padding: 0 1rem;
}
/* @media (max-width:1000px) {
    .jeg_main{
        padding: 0 0.5rem;
    }
} */


.button_main a{
    background-color: #8A333E !important;
    color: #fff !important;
    border-radius: 10px !important;
    border: none !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}
.button_main a:hover{
    border: none !important;
    color: #fff !important;
    background-color: #792b36 !important;
}